.git
.gitignore
venv
__pycache__/
**/__pycache__/
**/.pytest_cache/
*.pyc
*.pyo
*.pyd

node_modules/
.next/
webapp/frontend/node_modules/
webapp/frontend/.next/

Data/
Target/
Images/Uploads/

blender_log.txt
